@charset "UTF-8";

.logoText {
    color: white !important;
    margin-right: 0rem !important;
    margin-left: 0.3rem !important;
    font-size: 1.4em !important;
}

.sidebarTextSize {
    font-size: 1.1em !important;
}

.textBold {
    font-weight: bold !important;
}

.sidebarBackground {
    background-color: #529038;
    background-size: cover;
}

.topbarText {
    font-size: 0.9em !important;
    color: grey !important;
    font-weight: bold !important;
}

.newsLinkText {
    color: darkslategrey !important;
}

.unsubs {
    background-color: #d1522c !important;
}

.unshadow {
    box-shadow: 0 0px 0px 0px rgba(209, 82, 744, 0.5) !important;
    -webkit-box-shadow: 0 0px 0px 0px rgba(209, 82, 744, 0.5) !important;
}

.about_back {
    background-color: #FFFFFF !important;
    background-image: none !important;
}

.about {
    padding: 1rem !important;
}

.politics_color {
    color: #33b5a1 !important;
}

.society_color {
    color: #752eb0 !important;
}

.economy_color {
    color: #2f7bad !important;
}

.culture_color {
    color: #b32768 !important;
}

.sports_color {
    color: #b34529 !important;
}

.international_color {
    color: #a3851a !important;
}

.etc_color {
    color: #128746 !important;
}